# Created by venv; see https://docs.python.org/3/library/venv.html
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll
*.dylib
*.pyd
**/__pycache__/

# Virtual environment
venv/
env/
.venv/

# Environment variables & secrets
*.env
*.env.local 
*.env.*.local
secrets.json
